.manageCodesPage {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.pageButtons{
  display: flex;
  justify-content: center;
}
.buttonContainer button {
  background: #91413c;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  width: 10em;
  height: 2em;
  color: #ffffff;
}

.pageButtons button{
  background: #91413c;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  width: 8em;
  height: 2em;
  color: #ffffff;
}

.pageButtons button:hover{
  transform: scale(1.1);
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; /*repeated code*/
}
.changePageButtons {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.changePageButtons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #91413c;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  width: 10em;
  height: 2em;
}
.changePageButtons button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; /*repeated code*/
}
.manageCodesPage button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.lastPageButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resetFiltersAndSorts {
  display: flex;
  justify-content: center;
}
.resetFiltersAndSorts button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #91413c;
  color: white;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  width: 10em;
  height: 2em;
}
.resetFiltersAndSorts button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonContainer button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
