.manageCodesPage {
  display: flex;
  flex-direction: column;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em;
}
.pageButtons {
  display: flex;
  justify-content: center;
}

.manageCodesPage button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.resetFiltersAndSorts {
  display: flex;
  justify-content: center;
}
