.formContainer {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

label {
  font-family: none;
}

.checkBox {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.modalText {
  font-family: "Sue Ellen Francisco";
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  color: #ebe8c5;
  text-align: center;
}

.modalTextArea {
  width: 40vw;
  height: 48vh;
  resize: none;
  margin-left: 4.5em;
  border-style: inset;
}

.textBoxContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.3em;
  margin-left: 2em;
}

.declineButton {
  border: none;
  border-radius: 5px;
  border-style: none;
  text-decoration: none;
  margin-right: 2em;
  margin-left: 9.5em;
  background-color: #ebe8c5;
  cursor: pointer;
}

.acceptButton {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 2em;
  background-color: #ebe8c5;
  cursor: pointer;
}

.formContainer form label {
  font-size: 0.6em;
  margin-left: 0.4em;
  color: #ebe8c5;
  font-family: "Nunito Sans";
}

.link {
  color: #ebe8c5;
}

@media (orientation: portrait) {
  .checkBox {
    display: flex;
    flex-direction: row;
  }

  .buttonContainer {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 0.3em;
    margin-left: 2em;
  }

  .acceptButton {
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 2em;
    margin-top: 25%;
    background-color: #ebe8c5;
    cursor: pointer;
  }
}
