.Hand {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.cardSuggestionContainer{
  display: flex;
  justify-content: flex-start;
  width: 40%;
}

.multipleButtons{
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.emptyContainer{
  width: 40%;
}

@media (orientation: portrait) {
  .buttonHolder{
    display: flex;
    flex-wrap: wrap;
  }

  .cardSuggestionContainer{
    display: flex;
    justify-content: flex-start;
    width: 35%;
  }

  .multipleButtons{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .emptyContainer{
    width: 0%;
  }
}
