.logoText {
  position: absolute;
  width: 128px;
  height: 55px;
  margin-left: 23%;
  top: 150px;

  font-family: Sue Ellen Francisco;
  font-style: normal;
  font-weight: normal;
  font-size: 13.8px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}

.Logo img {
  margin-left: 26%;
  width: 114.67px;
  height: 113.31px;
  position: relative;
  top: 45px;
}
