
.filterBy {
  font-family: "Nunito Sans", serif;
}


.filterByColumnDropdown select {
  background: white;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  margin-top: 1.5em;
  width: 10em;
  height: 2em;
}


.filterByColumnDropdown select:hover{
  cursor: pointer;
}

.button {
  background: #91413c;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  margin-top: 1.5em;
  width: 10em;
  height: 2em;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.applyFilter button {
  background: #91413c;
  border-radius: 2px;
  font-size: 1.2vw;
  border: 2px;
  margin: 1em;
  margin-top: 1.5em;
  width: 10em;
  height: 2em;
}
.applyFilter button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.inputBox{
  display: flex;
  justify-content: center;
}
