.LinkHolderCard {
  display: flex;
  position: relative;
  padding: 5%;
  width: 10vw;
  height: 10vw;
  min-width: 9rem;
  min-height: 9rem;
  background-color: #cab79b;
  color: black;
  box-shadow: 0px 2.7141px 2.7141px rgba(0, 0, 0, 0.25);
  border-radius: 3.39262px;
  backface-visibility: hidden;
}
.LinkHolderCard a {
  margin-top: 0.6em;
  display: flex;
  justify-content: center;
  font-family: "Nunito Sans", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.4rem;
}
.LinkHolderCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.logo {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
