.adminLoginPage {
  min-height: 100vh;
  font-family: "Sue Ellen Francisco";
}

.logo {
  height: 7vh;
}

.loginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPopup {
  width: 60vh;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  background-color: #912123;
  border-radius: 0.5em;
  box-shadow: 3px 5.7141px 5.7141px rgba(0, 0, 0, 0.25);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.button {
  background-color: #f3e8cb;
  color: black;
  width: 16.5em;
  border: none;
  padding: 1em 3.2em;
  text-align: center;
  text-decoration: none;
  font-size: 0.67em;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.3em;
}

.passwordContainer {
  width: 100%;
}

input[type="password"] {
  width: 97%;
  height: 5vh;
  text-align: center;
}

input[type="email"] {
  width: 97%;
  height: 5vh;
  text-align: center;
}

.forgotPasswordText{
  width: 100%;
  display: flex;
  justify-content: center;
}

.forgotPasswordLink{
  color: #f3e8cb;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Nunito Sans";
  margin-top: 10%;
}

.forgotPasswordLink:hover{
  text-decoration: underline;
}

.eyeIcon {
  margin-left: -30px;
}
