.Header {
  display: flex;
  background-color: #c4c4c4;
  font-family: "Nunito Sans", serif;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.Header img {
  width: 10em;
}
.Header h1 {
  font-family: "Sue Ellen Francisco";
  font-size: 1em;
}
.Header button {
  background-color: #c4c4c4;
  border: solid 2px;
  font-family: "Sue Ellen Francisco";
  font-size: 1em;
  font-weight: bold;
}
