.DataGrid {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: solid;
}
.react-grid-Row:nth-last-child(-n + 6) .rdg-cell-action-menu {
  background-color: red;
}
