@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap");

.App {
  font-family: "SueEllenFrancisco";
  text-align: left;
  background-color: #d9fff4;
  min-height: 100vh;
}

h1 {
  font-family: "SueEllenFrancisco";
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: "SueEllenFrancisco";
}
.App p {
  position: absolute;
  width: 16 8.53px;
  height: 16.96px;
  font-family: Nunito;
  font-size: 18px;
  left: 42%;
  bottom: 14%;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
