@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

body {
  background-color: #fff9ef;
}

.App {
  font-family: "SueEllenFrancisco";
  text-align: left;
  min-height: 80vh;
}

h1 {
  font-family: "Nunito Sans", serif;
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: "SueEllenFrancisco";
}

.upperRow {
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftColumn {
  width: 75%;
}

.leftColumnNotActive {
  width: 100%;
}

.rightColumn {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 120vh;
}

.rightColumnNotActive {
  width: 0%;
  height: 0%;
}

@media (orientation: portrait) {
  .upperRow {
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logoHolder {
    margin-right: 18%;
  }
}

.buttonContainer {
  width: 5%;
  display: flex;
  justify-content: flex-end;
  margin-left: 5em;
  margin-top: 1.5em;
}

.button {
  width: 20%;
  height: 60%;
  background-color: #f3e8cb;
  color: black;
  width: 16.5em;
  border: solid 2px;
  padding: 0.4em;
  text-align: center;
  text-decoration: none;
  font-size: 0.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6px;
  font-family: "Sue Ellen Francisco";
}

a {
  color: #912123;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}
