@import url("https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco&display=swap");

.App {
  font-family: "SueEllenFrancisco";
  text-align: left;
  background-color: #d9fff4;
}

h1 {
  font-family: "SueEllenFrancisco";
  line-height: 1em;
  text-align: center;
}

h2 {
  font-family: "SueEllenFrancisco";
}
