.OrangeCards {
  position: relative;
  margin: 1%;
  padding: 1%;
  width: 10vw;
  height: 10vw;
  min-width: 9rem;
  min-height: 9rem;

  background-color: #fdbd32;
  color: black;
  box-shadow: 0px 2.7141px 2.7141px rgba(0, 0, 0, 0.25);
  border-radius: 3.39262px;

  cursor: pointer;
}

.OrangeCards h1 {
  font-family: Sue Ellen Francisco;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 24px;
  color: black;
}
.OrangeCards:hover {
  transform: scale(1.1);
}
