.textContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clientText {
  font-size: 2.1rem;
}

.formContainer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clientContainer {
  display: flex;
  flex-direction: row;
  margin-right: 9.2%;
}

.logoUrlContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  margin-right: 5.5%;
}

.label {
  display: flex;
  align-items: center;
  text-align: right;
  margin-right: 0.5em;
}



.buttonContainer {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10%;
}

input[type="text"] {
  width: 20vw;
  height: 5vh;
  font-family: "Nunito Sans";
  text-align: center;
  font-weight: bold;
}

.button {
  width: 12em;
  height: 3.5em;
  border: none;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.67em;
  cursor: pointer;
  border-radius: 0.3em;
  background: #90413c;
  border-radius: 4px;
}
