.messageHolder {
  margin-top: 1rem;
}
.messageHolderServer {
  margin-top: 1rem;
}

.messageHolder:hover {
  background-color: #b3afaf;
}

.author {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  margin-left: 0.7rem;
  padding: 0;
}

.date {
  padding-top: 0.2rem;
  margin-left: 1rem;
  font-size: 0.8em;
  color: gray;
}

.content {
  font-size: 0.8rem;
  margin-left: 0.7rem;
  margin-bottom: 5px;
  padding: 0;
}

.image {
  margin-left: 0.7rem;
  margin-bottom: 5px;
  padding: 0;
  width: 50%;
}

.server {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.7rem;
  margin-bottom: 5px;
  padding: 0;
}

.emojiButton {
  position: absolute;
  right: 0;
}

.reactionsContainer {
  display: flex;
  flex-direction: row;
}
