.messageHolder {
  margin-top: 1rem;
}

.author {
  font-size: 0.8rem;
  margin-left: 0.7rem;
  padding: 0;
}

.date {
  float: right;
  margin-right: 2em;
  font-size: 0.8em;
  color: gray;
}

.content {
  font-size: 0.8rem;
  margin-left: 0.7rem;
  margin-bottom: 5px;
  padding: 0;
}

.image {
  margin-left: 0.7rem;
  margin-bottom: 5px;
  padding: 0;
  width: 50%;
}
